In [161]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

In [ ]:
imp

In [162]:
df = pd.read_csv('./data/stock-market-data.csv')

In [163]:
col = df.columns

In [164]:
df[:4]

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,capt,index_w50,index_w300,index_w500,industry
0,600000.SH,20120104,8.49,8.54,8.56,8.39,8.41,34201379,290229551.00,6.66,125500555680.00,0.05,0.02,0.00,BANKS
1,600000.SH,20120105,8.41,8.47,8.82,8.47,8.65,132116203,1144753023.00,6.66,129082022192.00,0.05,0.02,0.00,BANKS
2,600000.SH,20120106,8.65,8.63,8.78,8.62,8.71,61778687,537043761.00,6.66,129977388820.00,0.05,0.02,0.00,BANKS
3,600000.SH,20120109,8.71,8.72,8.99,8.68,8.95,80136249,711429611.00,6.66,133558855331.00,0.05,0.02,0.00,BANKS

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276900 entries, 0 to 276899
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   symbol      276900 non-null  object
 1   date        276900 non-null  int64
 2   pre_close   276900 non-null  float64
 3   open        276900 non-null  float64
 4   high        276900 non-null  float64
 5   low         276900 non-null  float64
 6   close       276900 non-null  float64
 7   volume      276900 non-null  int64
 8   amount      276900 non-null  float64
 9   adj_factor  276900 non-null  float64
 10  capt        276900 non-null  float64
 11  index_w50   276900 non-null  float64
 12  index_w300  276900 non-null  float64
 13  index_w500  276900 non-null  float64
 14  industry    276900 non-null  object
dtypes: float64(11), int64(2), object(2)
memory usage: 31.7+ MB

In [166]:
df[['symbol', 'industry']] = df[['symbol', 'industry']].apply(
    lambda x: x.astype("string"))

In [167]:
# 1
a1 = set(df['symbol'][df['symbol'].apply(lambda x: x.count('8') > 0)])

In [168]:
# 2
# df['Flag'] = np.where(df['close'] > df['pre_close'],'Increase',np.where(df['close'] < df['pre_close'],'Decrease','Flat'))

conditions = [
    df['close'] > df['pre_close'],
    df['close'] < df['pre_close']
]

results = ['Increase', 'Decrease']
df['Flag'] = np.select(conditions, results, default='Flat')

df.groupby(['date', 'Flag']).agg({'symbol': 'nunique'})

                   symbol
date     Flag
20120104 Decrease    2007
         Flat         122
         Increase     191
20120105 Decrease    2071
         Flat         117
...                   ...
20120628 Flat         176
         Increase     427
20120629 Decrease     358
         Flat         174
         Increase    1890

[351 rows x 1 columns]

In [239]:
dff = pd.DataFrame({"a": [1, 2, 3, 4, 5], "b": [10, 11, 12, 13, 14]})

In [240]:
dff.head()

   a   b
0  1  10
1  2  11
2  3  12
3  4  13
4  5  14

In [264]:
dff['a'].rolling(2,min_periods=2).apply(lambda x: 1 if (x.iloc[0]>1) & (x.iloc[1]>1) else 0)

0    NaN
1   0.00
2   1.00
3   1.00
4   1.00
Name: a, dtype: float64

In [266]:
dff['a'].iloc[0]

1

In [169]:
df['exchange'] = df['symbol'].str[-2:]
df.head()

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,capt,index_w50,index_w300,index_w500,industry,Flag,exchange
0,600000.SH,20120104,8.49,8.54,8.56,8.39,8.41,34201379,290229551.00,6.66,125500555680.00,0.05,0.02,0.00,BANKS,Decrease,SH
1,600000.SH,20120105,8.41,8.47,8.82,8.47,8.65,132116203,1144753023.00,6.66,129082022192.00,0.05,0.02,0.00,BANKS,Increase,SH
2,600000.SH,20120106,8.65,8.63,8.78,8.62,8.71,61778687,537043761.00,6.66,129977388820.00,0.05,0.02,0.00,BANKS,Increase,SH
3,600000.SH,20120109,8.71,8.72,8.99,8.68,8.95,80136249,711429611.00,6.66,133558855331.00,0.05,0.02,0.00,BANKS,Increase,SH
4,600000.SH,20120110,8.95,8.95,9.10,8.88,9.07,72004632,647206633.00,6.66,135349588587.00,0.05,0.02,0.00,BANKS,Increase,SH

In [170]:
# 3
df.groupby(['date', 'exchange', 'Flag']).agg(
    {'symbol': 'nunique'}).reset_index()[:5]

       date exchange      Flag  symbol
0  20120104       SH  Decrease     794
1  20120104       SH      Flat      42
2  20120104       SH  Increase      85
3  20120104       SZ  Decrease    1213
4  20120104       SZ      Flat      80

In [171]:
# 4

df.query("index_w300 > 0").groupby(['date', 'Flag']).agg(
    {'symbol': 'nunique'}).reset_index()[:5]

       date      Flag  symbol
0  20120104  Decrease     275
1  20120104      Flat       5
2  20120104  Increase      20
3  20120105  Decrease     242
4  20120105      Flat       8

In [172]:
# 5
df.groupby(['date', 'industry']).agg({'symbol': 'nunique'}).reset_index()[:5]

       date industry  symbol
0  20120104  AERODEF      10
1  20120104  AIRLINE      12
2  20120104     AUTO      85
3  20120104    BANKS      16
4  20120104      BEV      30

In [173]:
# 6
df1 = df.groupby(['date', 'industry']).agg(
    {'symbol': 'nunique', 'amount': 'sum'}).reset_index()

In [174]:
df1[['max_n', 'max_a']] = df1.groupby(
    ['date'])[['symbol', 'amount']].transform('max')

In [175]:
df1.query('symbol == max_n & amount == max_a')

          date  industry  symbol         amount  max_n          max_a
15    20120104  HDWRSEMI     224  6878138136.80    224  6878138136.80
79    20120106  HDWRSEMI     224  5979258564.90    224  5979258564.90
751   20120213  HDWRSEMI     227 14602692451.80    227 14602692451.80
847   20120216  HDWRSEMI     227 15064632475.20    227 15064632475.20
879   20120217  HDWRSEMI     229 11451347414.00    229 11451347414.00
911   20120220  HDWRSEMI     230 15251810573.60    230 15251810573.60
943   20120221  HDWRSEMI     230 15491841616.60    230 15491841616.60
975   20120222  HDWRSEMI     230 19900505866.60    230 19900505866.60
1167  20120301  HDWRSEMI     231 14865249097.90    231 14865249097.90
1199  20120302  HDWRSEMI     231 16208547305.30    231 16208547305.30
1231  20120305  HDWRSEMI     231 19803089122.20    231 19803089122.20
1295  20120307  HDWRSEMI     231 17550555901.70    231 17550555901.70
1327  20120308  HDWRSEMI     231 16575602439.20    231 16575602439.20
2159  20120418  HDWRSEMI     237 14666086045.70    237 14666086045.70
3087  20120531  HDWRSEMI     238 13129334834.90    238 13129334834.90

In [176]:
del df1

In [177]:
# 7

conditions = [
    (df['close'] - df['pre_close']) / df['pre_close'] > 0.05,
    (df['close'] - df['pre_close']) / df['pre_close'] < - 0.05
]

results = ['Increase 5%', 'Decrease 5%']
df['Flag%'] = np.select(conditions, results, default='Flat')

df.query('`Flag%` != "Flat"').groupby(['date', 'Flag%']).agg(
    {'symbol': 'nunique'}).reset_index()[:5]

       date        Flag%  symbol
0  20120104  Decrease 5%     277
1  20120104  Increase 5%      17
2  20120105  Decrease 5%     885
3  20120105  Increase 5%      10
4  20120106  Decrease 5%      66

In [178]:
# 8
df['rate%'] = (df['close'] - df['pre_close']) / df['pre_close']

df.sort_values(by='rate%', ascending=False, inplace=True)

In [179]:

df1 = df.groupby(['date']).agg(top10=('amount', lambda x: sum(x[:10])),
                               last10=('amount', lambda x: sum(x[-10:])))

In [180]:
pd.options.display.float_format = '{:.2f}'.format

In [181]:
pd.set_option("display.max_rows", 150)

In [182]:
df1['top/bottom'] = df1['top10']/df1['last10']
df1

                 top10        last10  top/bottom
date
20120104  660522056.10  456926638.10        1.45
20120105  660035624.90  383022701.40        1.72
20120106  947170129.80  703279193.90        1.35
20120109 1586198245.50  558059839.50        2.84
20120110 1658431604.10 2948836472.30        0.56
20120111 3024195777.40 2144084175.70        1.41
20120112 1215494588.20 2950479801.60        0.41
20120113 2611351394.70  875104112.30        2.98
20120116  458861322.50  625366458.30        0.73
20120117 2189340877.60  762434011.30        2.87
20120118 2212510485.20 1242025947.00        1.78
20120119 1055687620.60 2283752129.70        0.46
20120120 1020704571.20 3240629397.90        0.31
20120130  872591780.90 1666178337.50        0.52
20120131 1743546880.50 1261886346.60        1.38
20120201  930509633.10 1146076295.10        0.81
20120202 1124565172.80 1337286955.30        0.84
20120203 1588850493.10 2396372675.40        0.66
20120206 1282961689.40 2030997812.20        0.63
20120207 1354282705.50  827530680.00        1.64
20120208 2707938943.60 2773519019.00        0.98
20120209 2267118037.00 1842726891.50        1.23
20120210 3485931978.00  788614946.60        4.42
20120213 1586765731.30 1122713710.80        1.41
20120214  839498044.20 1012297433.60        0.83
20120215 1292199721.40 1477515195.50        0.87
20120216 2362145042.80 1226429826.00        1.93
20120217 4389863485.10 1071544004.90        4.10
20120220 2028239674.90 1177692202.00        1.72
20120221 2018870477.30 1031890069.70        1.96
20120222 1926610694.20 1591683482.80        1.21
20120223 6655356166.80 2620742933.20        2.54
20120224 2692694724.00 6009579505.30        0.45
20120227 3037291522.50 1639802325.90        1.85
20120228 2563329842.30 4073449740.80        0.63
20120229 2256674358.20 2468105710.40        0.91
20120301 1247103976.20 1408283002.70        0.89
20120302 1449004797.00 1871429469.70        0.77
20120305 2482053623.50 1739037753.10        1.43
20120306 1673733996.00 2697715162.80        0.62
20120307 1280567249.50 2255716722.50        0.57
20120308 2858492509.80 1543130945.50        1.85
20120309 5463646005.50 1855042364.40        2.95
20120312 2946228388.70 2878129332.30        1.02
20120313 3627823850.50 2790703166.50        1.30
20120314 5039459428.60 1459609108.20        3.45
20120315 2450678211.10 3023910381.00        0.81
20120316 2126055159.60 1752887640.10        1.21
20120319 1808307621.30 2141123458.30        0.84
20120320 2891521494.70 1476941877.80        1.96
20120321 2086430888.40 1222864840.90        1.71
20120322 2623524077.30 5119374178.00        0.51
20120323 1311119676.40 2251785228.20        0.58
20120326 1826823066.60 1514874216.00        1.21
20120327 1195070735.10  984644176.30        1.21
20120328 3025750482.80  848302164.20        3.57
20120329 1207344056.80 1384745329.10        0.87
20120330  908208814.50 1924505197.30        0.47
20120405 1002167167.60 1070239559.60        0.94
20120406 2336170657.60 1040705352.80        2.24
20120409  915725505.00 1736442781.20        0.53
20120410 1394588226.90  924827644.40        1.51
20120411 1366458229.90 1069271064.20        1.28
20120412 1285209816.30 2037578247.60        0.63
20120413  911532223.30 1497421382.20        0.61
20120416 1911938327.60 1196049089.90        1.60
20120417 1945326092.10 2468291110.40        0.79
20120418  984305975.80 3463840407.70        0.28
20120419 1712165946.30 2189063990.40        0.78
20120420 5353965093.30 2073396101.30        2.58
20120423 4027707306.10  887165038.50        4.54
20120424 4271808727.40  959793797.60        4.45
20120425 2173502798.10  977931565.90        2.22
20120426 1050342763.60 1583478078.00        0.66
20120427 2666128690.40 2886909130.30        0.92
20120502 2455873797.20 2239985743.40        1.10
20120503 4223369874.80  696184145.50        6.07
20120504 5473157306.60 2152966048.60        2.54
20120507 2864379109.20 2367424083.30        1.21
20120508 1353814651.40 2370031777.30        0.57
20120509 2342072029.90 2682937550.30        0.87
20120510 1024463597.30 2294637569.10        0.45
20120511 2622866493.50 3453687717.80        0.76
20120514 2629314491.60 1785079135.50        1.47
20120515  993723598.30 2288739608.80        0.43
20120516 2710811254.40 1797633681.20        1.51
20120517 3359486613.50 3148705547.90        1.07
20120518 1743152461.30 2990655202.20        0.58
20120521 4734388783.10 2832568898.20        1.67
20120522 3446016596.30 2619815360.80        1.32
20120523 4119352689.40 1408764065.30        2.92
20120524 1534519903.30 2663490348.30        0.58
20120525 3570767733.40 1797214342.10        1.99
20120528 4116567455.50 1542761365.50        2.67
20120529 2701410625.00 1547339510.30        1.75
20120530 3614392359.80 1630682518.20        2.22
20120531 2680813705.40 2434874755.50        1.10
20120601 4264236289.80 2186825706.20        1.95
20120604 3373750369.70 1534775546.30        2.20
20120605 1827723318.30 1323749410.40        1.38
20120606 1908805068.90 2065528049.20        0.92
20120607 1321300564.60 1291229898.70        1.02
20120608 1861063031.30 1259808019.20        1.48
20120611 1586639500.10 2012882658.60        0.79
20120612 1551905060.80 1853187546.30        0.84
20120613 1677375381.80 1882835451.60        0.89
20120614 3440011373.90 2666524994.60        1.29
20120615 1683664502.00 2467023266.30        0.68
20120618 1937928997.40 3619027292.30        0.54
20120619 1500976067.80 1774056763.80        0.85
20120620  858739346.20 1327887798.20        0.65
20120621 2115297800.40 1676531714.40        1.26
20120625 1103581881.80 1394384807.30        0.79
20120626 1328032239.30 1015368225.90        1.31
20120627  802544736.80 1403282426.10        0.57
20120628 1744367653.50 1985112930.40        0.88
20120629 1496506098.50 1259297805.40        1.19

In [183]:
# 9
df['ret_open'] = df['open']/df['pre_close'] > 1.015
df['ret_close'] = df['close']/df['pre_close'] > 1.015

In [184]:
df.groupby('date')[['ret_open', 'ret_close']].sum().reset_index()

         date  ret_open  ret_close
0    20120104       325         70
1    20120105        27         60
2    20120106        56        743
3    20120109        73       2142
4    20120110        95       2125
5    20120111        75        354
6    20120112        39        258
7    20120113        46         56
8    20120116        19         40
9    20120117       120       2180
10   20120118       155         93
11   20120119        57        805
12   20120120       110        958
13   20120130       117        246
14   20120131        44        353
15   20120201        40        191
16   20120202        83       1431
17   20120203        46       1202
18   20120206       107        616
19   20120207        25        103
20   20120208        21       1912
21   20120209        56        494
22   20120210        40        412
23   20120213        21        797
24   20120214        41        347
25   20120215        37       1117
26   20120216        53        349
27   20120217        52        194
28   20120220       620        313
29   20120221        25        700
30   20120222        43       1316
31   20120223        68        390
32   20120224        40        733
33   20120227        95        276
34   20120228        33        295
35   20120229        40        121
36   20120301        25        389
37   20120302        44       1380
38   20120305        81        426
39   20120306        24        269
40   20120307        16        265
41   20120308        48        877
42   20120309        59        975
43   20120312        68        517
44   20120313        36        640
45   20120314        59         67
46   20120315        34        311
47   20120316        88       1657
48   20120319        86       1012
49   20120320        42         96
50   20120321        62        451
51   20120322        56        292
52   20120323        19        112
53   20120326        31        297
54   20120327        94        245
55   20120328        24         48
56   20120329        23        148
57   20120330        53        293
58   20120405        79       2012
59   20120406        94        559
60   20120409        45        194
61   20120410        41        803
62   20120411        35        504
63   20120412        69       1431
64   20120413       146        556
65   20120416        36        408
66   20120417        66        140
67   20120418        48       1644
68   20120419       120        334
69   20120420        32        567
70   20120423        70        220
71   20120424        22        309
72   20120425        59        870
73   20120426       101        327
74   20120427        50        261
75   20120502       630        970
76   20120503        37        524
77   20120504        79        734
78   20120507        45        706
79   20120508        56        396
80   20120509        36        150
81   20120510        50        393
82   20120511        50        220
83   20120514       189        274
84   20120515        27        337
85   20120516        32        136
86   20120517        48        977
87   20120518        40        168
88   20120521        77        318
89   20120522        92        914
90   20120523        26        317
91   20120524        33        202
92   20120525        33        158
93   20120528        29        856
94   20120529        69       1123
95   20120530        54        358
96   20120531        19        424
97   20120601        59        232
98   20120604        18         59
99   20120605        53        252
100  20120606        68        205
101  20120607       354        177
102  20120608       342        210
103  20120611        49       1303
104  20120612        32        258
105  20120613        46       1261
106  20120614        42        217
107  20120615        50        341
108  20120618        80        663
109  20120619        34        221
110  20120620        39        313
111  20120621        21        145
112  20120625        33         87
113  20120626        25        326
114  20120627        37        293
115  20120628        75        162
116  20120629        22        961

In [160]:
# 10
flag_open = []

for i in range(3, df.shape[0]-1):

    flag_open.append(
        sum(map(int, [df['ret_open'][i-3], df['ret_open'][i-2], df['ret_open'][i-1]])))

In [ ]:
filled_open = [None] * 4 + flag_open

In [ ]:
df['flag_open'] = pd.Series(filled_open)

In [ ]:
df.groupby('date')[['flag_open']].sum()

In [192]:
ids=[k for k in df.columns if 'index' not in k]

In [196]:
df2=df.melt(id_vars=ids,var_name='Index',value_name='index%')

In [224]:
df2.query('`index%`>0').groupby(['Index','date','exchange']).agg(stkcd_amount = ('symbol','nunique')).reset_index().sort_values(['Index'], key = lambda x: x.str.len(),ascending = True)

          Index      date exchange  stkcd_amount
292   index_w50  20120405       SH            50
263   index_w50  20120221       SH            50
264   index_w50  20120222       SH            50
265   index_w50  20120223       SH            50
266   index_w50  20120224       SH            50
..          ...       ...      ...           ...
150  index_w300  20120502       SH           205
149  index_w300  20120427       SZ            95
148  index_w300  20120427       SH           205
160  index_w300  20120509       SH           205
584  index_w500  20120629       SZ           230

[585 rows x 4 columns]

In [226]:
df2.query('`index%`>0').groupby(['Index','date','industry']).agg(stkcd_amount = ('symbol','nunique')).reset_index().sort_values(['Index'], key = lambda x: x.str.len(),ascending = True)

           Index      date  industry  stkcd_amount
4562   index_w50  20120410   TRDDIST             1
4183   index_w50  20120306  HDWRSEMI             1
4184   index_w50  20120306      MACH             4
4185   index_w50  20120306    MTLMIN            10
4186   index_w50  20120306  RDRLTRAN             1
...          ...       ...       ...           ...
2374  index_w300  20120508       BEV            10
2373  index_w300  20120508     BANKS            16
2372  index_w300  20120508      AUTO            12
2383  index_w300  20120508  FOODPROD             9
9125  index_w500  20120629  UTILITIE            24

[9126 rows x 4 columns]

In [236]:
df2.query('`index%`>0 & Index == "index_w300"').sort_values(['date','index%'],ascending=[True,False]).groupby('date').head(10)[['date','symbol']].reset_index()

       index      date     symbol
0     499360  20120104  600036.SH
1     452665  20120104  600016.SH
2     495697  20120104  601318.SH
3     460015  20120104  601328.SH
4     435416  20120104  601166.SH
...      ...       ...        ...
1165  310288  20120629  601166.SH
1166  341007  20120629  600000.SH
1167  287737  20120629  600030.SH
1168  376849  20120629  000002.SZ
1169  307316  20120629  600837.SH

[1170 rows x 3 columns]

In [227]:
df2.head()

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,capt,industry,Flag,exchange,Flag%,rate%,ret_open,ret_close,Index,index%
0,600401.SH,20120217,2.78,12.50,13.50,10.61,10.74,61977060,703751398.00,5.23,1941504340.00,MATERIAL,Increase,SH,Increase 5%,2.86,True,True,index_w50,0.00
1,603002.SH,20120518,3.60,8.01,8.77,8.01,8.56,68880207,573951279.00,1.00,684800000.00,CHEM,Increase,SH,Increase 5%,1.38,True,True,index_w50,0.00
2,300297.SZ,20120315,16.00,28.26,31.00,28.21,30.98,13002333,382154777.20,1.00,610306000.00,SOFTWARE,Increase,SZ,Increase 5%,0.94,True,True,index_w50,0.00
3,601929.SH,20120223,7.00,10.88,14.16,10.88,13.12,210791050,2401265522.00,1.00,2938880000.00,MEDIA,Increase,SH,Increase 5%,0.87,True,True,index_w50,0.00
4,300288.SZ,20120216,22.44,38.10,42.37,38.10,40.96,10191696,408126414.80,1.00,439091200.00,SOFTWARE,Increase,SZ,Increase 5%,0.83,True,True,index_w50,0.00

In [267]:
df2.head()

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,capt,industry,Flag,exchange,Flag%,rate%,ret_open,ret_close,Index,index%
0,600401.SH,20120217,2.78,12.50,13.50,10.61,10.74,61977060,703751398.00,5.23,1941504340.00,MATERIAL,Increase,SH,Increase 5%,2.86,True,True,index_w50,0.00
1,603002.SH,20120518,3.60,8.01,8.77,8.01,8.56,68880207,573951279.00,1.00,684800000.00,CHEM,Increase,SH,Increase 5%,1.38,True,True,index_w50,0.00
2,300297.SZ,20120315,16.00,28.26,31.00,28.21,30.98,13002333,382154777.20,1.00,610306000.00,SOFTWARE,Increase,SZ,Increase 5%,0.94,True,True,index_w50,0.00
3,601929.SH,20120223,7.00,10.88,14.16,10.88,13.12,210791050,2401265522.00,1.00,2938880000.00,MEDIA,Increase,SH,Increase 5%,0.87,True,True,index_w50,0.00
4,300288.SZ,20120216,22.44,38.10,42.37,38.10,40.96,10191696,408126414.80,1.00,439091200.00,SOFTWARE,Increase,SZ,Increase 5%,0.83,True,True,index_w50,0.00

In [271]:
list(df2.loc[:,'symbol':'ret_close'].columns)

['symbol',
 'date',
 'pre_close',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'amount',
 'adj_factor',
 'capt',
 'industry',
 'Flag',
 'exchange',
 'Flag%',
 'rate%',
 'ret_open',
 'ret_close']

In [273]:
df2.pivot(index = list(df2.loc[:,'symbol':'ret_close'].columns),columns='Index').reset_index().head()

          symbol      date pre_close  open  high   low close    volume  \
Index
0      000001.SZ  20120104     15.59 15.59 15.59 15.15 15.16  14791098
1      000001.SZ  20120105     15.16 15.16 15.55 15.13 15.39  24408005
2      000001.SZ  20120106     15.39 15.35 15.51 15.15 15.35  13315115
3      000001.SZ  20120109     15.35 15.36 15.81 15.25 15.78  22113866
4      000001.SZ  20120110     15.78 15.78 15.78 15.78 15.78         0

            amount adj_factor  ... industry      Flag exchange Flag% rate%  \
Index                          ...
0     227563714.50      35.91  ...    BANKS  Decrease       SZ  Flat -0.03
1     375880600.60      35.91  ...    BANKS  Increase       SZ  Flat  0.02
2     204143668.30      35.91  ...    BANKS  Decrease       SZ  Flat -0.00
3     345938687.20      35.91  ...    BANKS  Increase       SZ  Flat  0.03
4             0.00      35.91  ...    BANKS      Flat       SZ  Flat  0.00

      ret_open ret_close     index%
Index                    index_w300 index_w50 index_w500
0        False     False       0.01      0.00       0.00
1        False      True       0.01      0.00       0.00
2        False     False       0.01      0.00       0.00
3        False      True       0.01      0.00       0.00
4        False     False       0.01      0.00       0.00

[5 rows x 21 columns]

In [282]:
df.loc[df.groupby(['date','industry'])['amount'].idxmax()][['date','industry','symbol']]

            date  industry     symbol
144101  20120104   AERODEF  000768.SZ
2457    20120104   AIRLINE  600029.SH
9628    20120104      AUTO  600104.SH
3042    20120104     BANKS  600036.SH
49563   20120104       BEV  600519.SH
...          ...       ...        ...
3626    20120629   REALEST  600048.SH
72845   20120629    RETAIL  600739.SH
253396  20120629  SOFTWARE  300104.SZ
36341   20120629   TRDDIST  600366.SH
1052    20120629  UTILITIE  600011.SH

[3744 rows x 3 columns]

In [286]:
#25
a=df.groupby(['date','industry']).agg(max_a =('amount','max'),min_a = ('amount','min')).reset_index()
a['ratio']=a['max_a']/a['min_a']
a.head()

       date industry        max_a       min_a  ratio
0  20120104  AERODEF 172921879.70 13489241.70  12.82
1  20120104  AIRLINE 112322418.00  2370467.80  47.38
2  20120104     AUTO 388571668.00        0.00    inf
3  20120104    BANKS 620703189.00 53406484.00  11.62
4  20120104      BEV 637232812.00        0.00    inf

In [291]:
#26
a=df.groupby(['date','industry']).agg({'amount':lambda x : sum(x.nlargest(5))})

In [297]:
#29
df['avg_amount'] = df.groupby(['date'])['amount'].transform('mean')
df['avg_industry_amount'] = df.groupby(['date','industry'])['amount'].transform('mean')
df.query('avg_industry_amount > avg_amount')[['date','industry']].drop_duplicates().sort_values(['date','industry'],ascending=True)

            date  industry
144101  20120104   AERODEF
105025  20120104     BANKS
130295  20120104       BEV
207515  20120104    CONMAT
80919   20120104  DVFININS
...          ...       ...
60677   20120629   INDCONG
89810   20120629    MARINE
106982  20120629     MEDIA
103194  20120629    MTLMIN
66995   20120629   REALEST

[1413 rows x 2 columns]

In [298]:
df.sort_values(['symbol','date'],ascending=True,inplace=True)

In [299]:
df['flag_up_down'] = np.select([df['pre_close']>df['close'],df['pre_close']<df['close']],['down','up'],default='flat')

In [ ]:
df.groupby('symbol')['']

In [301]:
pd.set_option('display.expand_frame_repr', False)

In [305]:
pd.set_option('display.max_columns', None)

In [ ]:
pd.set_option('display.expand_frame_repr', False)

In [306]:
df.head()

           symbol      date  pre_close  open  high   low  close    volume       amount  adj_factor           capt  index_w50  index_w300  index_w500 industry      Flag exchange Flag%  rate%  ret_open  ret_close  avg_amount  avg_industry_amount flag_up_down
108416  000001.SZ  20120104      15.59 15.59 15.59 15.15  15.16  14791098 227563714.50       35.91 47077237468.00       0.00        0.01        0.00    BANKS  Decrease       SZ  Flat  -0.03     False      False 34277999.13         225750794.69         down
108417  000001.SZ  20120105      15.16 15.16 15.55 15.13  15.39  24408005 375880600.60       35.91 47791469962.00       0.00        0.01        0.00    BANKS  Increase       SZ  Flat   0.02     False       True 37897894.59         494676233.74           up
108418  000001.SZ  20120106      15.39 15.35 15.51 15.15  15.35  13315115 204143668.30       35.91 47667255615.00       0.00        0.01        0.00    BANKS  Decrease       SZ  Flat  -0.00     False      False 32480550.72         288272343.82         down
108419  000001.SZ  20120109      15.35 15.36 15.81 15.25  15.78  22113866 345938687.20       35.91 49002559844.00       0.00        0.01        0.00    BANKS  Increase       SZ  Flat   0.03     False       True 48770458.09         488458345.68           up
108420  000001.SZ  20120110      15.78 15.78 15.78 15.78  15.78         0         0.00       35.91 49002559844.00       0.00        0.01        0.00    BANKS      Flat       SZ  Flat   0.00     False      False 71647581.55         420013583.36         flat