In [23]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

In [24]:
df = pd.read_csv('./data/stock-market-data.csv')

In [36]:
col = df.columns

In [25]:
df[:4]

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,capt,index_w50,index_w300,index_w500,industry
0,600000.SH,20120104,8.49,8.54,8.56,8.39,8.41,34201379,2.902296e+08,6.655275,1.255006e+11,0.046409,0.021259,0.0,BANKS
1,600000.SH,20120105,8.41,8.47,8.82,8.47,8.65,132116203,1.144753e+09,6.655275,1.290820e+11,0.046409,0.021259,0.0,BANKS
2,600000.SH,20120106,8.65,8.63,8.78,8.62,8.71,61778687,5.370438e+08,6.655275,1.299774e+11,0.046409,0.021259,0.0,BANKS
3,600000.SH,20120109,8.71,8.72,8.99,8.68,8.95,80136249,7.114296e+08,6.655275,1.335589e+11,0.046409,0.021259,0.0,BANKS

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276900 entries, 0 to 276899
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   symbol      276900 non-null  object
 1   date        276900 non-null  int64
 2   pre_close   276900 non-null  float64
 3   open        276900 non-null  float64
 4   high        276900 non-null  float64
 5   low         276900 non-null  float64
 6   close       276900 non-null  float64
 7   volume      276900 non-null  int64
 8   amount      276900 non-null  float64
 9   adj_factor  276900 non-null  float64
 10  capt        276900 non-null  float64
 11  index_w50   276900 non-null  float64
 12  index_w300  276900 non-null  float64
 13  index_w500  276900 non-null  float64
 14  industry    276900 non-null  object
dtypes: float64(11), int64(2), object(2)
memory usage: 31.7+ MB

In [27]:
df[['symbol', 'industry']] = df[['symbol', 'industry']].apply(
    lambda x: x.astype("string"))

In [28]:
# 1
a1 = set(df['symbol'][df['symbol'].apply(lambda x: x.count('8') > 0)])

In [29]:
# 2
# df['Flag'] = np.where(df['close'] > df['pre_close'],'Increase',np.where(df['close'] < df['pre_close'],'Decrease','Flat'))

conditions = [
    df['close'] > df['pre_close'],
    df['close'] < df['pre_close']
]

results = ['Increase', 'Decrease']
df['Flag'] = np.select(conditions, results, default='Flat')

df.groupby(['date', 'Flag']).agg({'symbol': 'nunique'})

                   symbol
date     Flag
20120104 Decrease    2007
         Flat         122
         Increase     191
20120105 Decrease    2071
         Flat         117
...                   ...
20120628 Flat         176
         Increase     427
20120629 Decrease     358
         Flat         174
         Increase    1890

[351 rows x 1 columns]

In [32]:
df['exchange'] = df['symbol'].str[-2:]
df.head()

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,capt,index_w50,index_w300,index_w500,industry,Flag,exchange
0,600000.SH,20120104,8.49,8.54,8.56,8.39,8.41,34201379,2.902296e+08,6.655275,1.255006e+11,0.046409,0.021259,0.0,BANKS,Decrease,SH
1,600000.SH,20120105,8.41,8.47,8.82,8.47,8.65,132116203,1.144753e+09,6.655275,1.290820e+11,0.046409,0.021259,0.0,BANKS,Increase,SH
2,600000.SH,20120106,8.65,8.63,8.78,8.62,8.71,61778687,5.370438e+08,6.655275,1.299774e+11,0.046409,0.021259,0.0,BANKS,Increase,SH
3,600000.SH,20120109,8.71,8.72,8.99,8.68,8.95,80136249,7.114296e+08,6.655275,1.335589e+11,0.046409,0.021259,0.0,BANKS,Increase,SH
4,600000.SH,20120110,8.95,8.95,9.10,8.88,9.07,72004632,6.472066e+08,6.655275,1.353496e+11,0.046409,0.021259,0.0,BANKS,Increase,SH

In [45]:
# 3
df.groupby(['date', 'exchange', 'Flag']).agg(
    {'symbol': 'nunique'}).reset_index()[:5]

       date exchange      Flag  symbol
0  20120104       SH  Decrease     794
1  20120104       SH      Flat      42
2  20120104       SH  Increase      85
3  20120104       SZ  Decrease    1213
4  20120104       SZ      Flat      80

In [44]:
# 4

df.query("index_w300 > 0").groupby(['date', 'Flag']).agg(
    {'symbol': 'nunique'}).reset_index()[:5]

       date      Flag  symbol
0  20120104  Decrease     275
1  20120104      Flat       5
2  20120104  Increase      20
3  20120105  Decrease     242
4  20120105      Flat       8

In [46]:
# 5
df.groupby(['date', 'industry']).agg({'symbol': 'nunique'}).reset_index()[:5]

       date industry  symbol
0  20120104  AERODEF      10
1  20120104  AIRLINE      12
2  20120104     AUTO      85
3  20120104    BANKS      16
4  20120104      BEV      30

In [68]:
# 6
df1 = df.groupby(['date', 'industry']).agg(
    {'symbol': 'nunique', 'amount': 'sum'}).reset_index()

In [70]:
df1[['max_n', 'max_a']] = df1.groupby(
    ['date'])[['symbol', 'amount']].transform('max')

In [71]:
df1.query('symbol == max_n & amount == max_a')

          date  industry  symbol        amount  max_n         max_a
15    20120104  HDWRSEMI     224  6.878138e+09    224  6.878138e+09
79    20120106  HDWRSEMI     224  5.979259e+09    224  5.979259e+09
751   20120213  HDWRSEMI     227  1.460269e+10    227  1.460269e+10
847   20120216  HDWRSEMI     227  1.506463e+10    227  1.506463e+10
879   20120217  HDWRSEMI     229  1.145135e+10    229  1.145135e+10
911   20120220  HDWRSEMI     230  1.525181e+10    230  1.525181e+10
943   20120221  HDWRSEMI     230  1.549184e+10    230  1.549184e+10
975   20120222  HDWRSEMI     230  1.990051e+10    230  1.990051e+10
1167  20120301  HDWRSEMI     231  1.486525e+10    231  1.486525e+10
1199  20120302  HDWRSEMI     231  1.620855e+10    231  1.620855e+10
1231  20120305  HDWRSEMI     231  1.980309e+10    231  1.980309e+10
1295  20120307  HDWRSEMI     231  1.755056e+10    231  1.755056e+10
1327  20120308  HDWRSEMI     231  1.657560e+10    231  1.657560e+10
2159  20120418  HDWRSEMI     237  1.466609e+10    237  1.466609e+10
3087  20120531  HDWRSEMI     238  1.312933e+10    238  1.312933e+10

In [72]:
del df1

In [78]:
# 7

conditions = [
    (df['close'] - df['pre_close']) / df['pre_close'] > 0.05,
    (df['close'] - df['pre_close']) / df['pre_close'] < - 0.05
]

results = ['Increase 5%', 'Decrease 5%']
df['Flag%'] = np.select(conditions, results, default='Flat')

df.query('`Flag%` != "Flat"').groupby(['date', 'Flag%']).agg(
    {'symbol': 'nunique'}).reset_index()[:5]

       date        Flag%  symbol
0  20120104  Decrease 5%     277
1  20120104  Increase 5%      17
2  20120105  Decrease 5%     885
3  20120105  Increase 5%      10
4  20120106  Decrease 5%      66

In [86]:
# 8
df['rate%'] = (df['close'] - df['pre_close']) / df['pre_close']

df.sort_values(by='rate%', ascending=False, inplace=True)

In [89]:

df1 = df.groupby(['date']).agg(top10=('amount', lambda x: sum(x[:10])),
                               last10=('amount', lambda x: sum(x[-10:])))

In [96]:
pd.options.display.float_format = '{:.2f}'.format

In [104]:
pd.set_option("display.max_rows", 150)

In [105]:
df1['top/bottom'] = df1['top10']/df1['last10']
df1

                 top10        last10  top/bottom
date
20120104  660522056.10  456926638.10        1.45
20120105  660035624.90  383022701.40        1.72
20120106  947170129.80  703279193.90        1.35
20120109 1586198245.50  558059839.50        2.84
20120110 1658431604.10 2948836472.30        0.56
20120111 3024195777.40 2144084175.70        1.41
20120112 1215494588.20 2950479801.60        0.41
20120113 2611351394.70  875104112.30        2.98
20120116  458861322.50  625366458.30        0.73
20120117 2189340877.60  762434011.30        2.87
20120118 2212510485.20 1242025947.00        1.78
20120119 1055687620.60 2283752129.70        0.46
20120120 1020704571.20 3240629397.90        0.31
20120130  872591780.90 1666178337.50        0.52
20120131 1743546880.50 1261886346.60        1.38
20120201  930509633.10 1146076295.10        0.81
20120202 1124565172.80 1337286955.30        0.84
20120203 1588850493.10 2396372675.40        0.66
20120206 1282961689.40 2030997812.20        0.63
20120207 1354282705.50  827530680.00        1.64
20120208 2707938943.60 2773519019.00        0.98
20120209 2267118037.00 1842726891.50        1.23
20120210 3485931978.00  788614946.60        4.42
20120213 1586765731.30 1122713710.80        1.41
20120214  839498044.20 1012297433.60        0.83
20120215 1292199721.40 1477515195.50        0.87
20120216 2362145042.80 1226429826.00        1.93
20120217 4389863485.10 1071544004.90        4.10
20120220 2028239674.90 1177692202.00        1.72
20120221 2018870477.30 1031890069.70        1.96
20120222 1926610694.20 1591683482.80        1.21
20120223 6655356166.80 2620742933.20        2.54
20120224 2692694724.00 6009579505.30        0.45
20120227 3037291522.50 1639802325.90        1.85
20120228 2563329842.30 4073449740.80        0.63
20120229 2256674358.20 2468105710.40        0.91
20120301 1247103976.20 1408283002.70        0.89
20120302 1449004797.00 1871429469.70        0.77
20120305 2482053623.50 1739037753.10        1.43
20120306 1673733996.00 2697715162.80        0.62
20120307 1280567249.50 2255716722.50        0.57
20120308 2858492509.80 1543130945.50        1.85
20120309 5463646005.50 1855042364.40        2.95
20120312 2946228388.70 2878129332.30        1.02
20120313 3627823850.50 2790703166.50        1.30
20120314 5039459428.60 1459609108.20        3.45
20120315 2450678211.10 3023910381.00        0.81
20120316 2126055159.60 1752887640.10        1.21
20120319 1808307621.30 2141123458.30        0.84
20120320 2891521494.70 1476941877.80        1.96
20120321 2086430888.40 1222864840.90        1.71
20120322 2623524077.30 5119374178.00        0.51
20120323 1311119676.40 2251785228.20        0.58
20120326 1826823066.60 1514874216.00        1.21
20120327 1195070735.10  984644176.30        1.21
20120328 3025750482.80  848302164.20        3.57
20120329 1207344056.80 1384745329.10        0.87
20120330  908208814.50 1924505197.30        0.47
20120405 1002167167.60 1070239559.60        0.94
20120406 2336170657.60 1040705352.80        2.24
20120409  915725505.00 1736442781.20        0.53
20120410 1394588226.90  924827644.40        1.51
20120411 1366458229.90 1069271064.20        1.28
20120412 1285209816.30 2037578247.60        0.63
20120413  911532223.30 1497421382.20        0.61
20120416 1911938327.60 1196049089.90        1.60
20120417 1945326092.10 2468291110.40        0.79
20120418  984305975.80 3463840407.70        0.28
20120419 1712165946.30 2189063990.40        0.78
20120420 5353965093.30 2073396101.30        2.58
20120423 4027707306.10  887165038.50        4.54
20120424 4271808727.40  959793797.60        4.45
20120425 2173502798.10  977931565.90        2.22
20120426 1050342763.60 1583478078.00        0.66
20120427 2666128690.40 2886909130.30        0.92
20120502 2455873797.20 2239985743.40        1.10
20120503 4223369874.80  696184145.50        6.07
20120504 5473157306.60 2152966048.60        2.54
20120507 2864379109.20 2367424083.30        1.21
20120508 1353814651.40 2370031777.30        0.57
20120509 2342072029.90 2682937550.30        0.87
20120510 1024463597.30 2294637569.10        0.45
20120511 2622866493.50 3453687717.80        0.76
20120514 2629314491.60 1785079135.50        1.47
20120515  993723598.30 2288739608.80        0.43
20120516 2710811254.40 1797633681.20        1.51
20120517 3359486613.50 3148705547.90        1.07
20120518 1743152461.30 2990655202.20        0.58
20120521 4734388783.10 2832568898.20        1.67
20120522 3446016596.30 2619815360.80        1.32
20120523 4119352689.40 1408764065.30        2.92
20120524 1534519903.30 2663490348.30        0.58
20120525 3570767733.40 1797214342.10        1.99
20120528 4116567455.50 1542761365.50        2.67
20120529 2701410625.00 1547339510.30        1.75
20120530 3614392359.80 1630682518.20        2.22
20120531 2680813705.40 2434874755.50        1.10
20120601 4264236289.80 2186825706.20        1.95
20120604 3373750369.70 1534775546.30        2.20
20120605 1827723318.30 1323749410.40        1.38
20120606 1908805068.90 2065528049.20        0.92
20120607 1321300564.60 1291229898.70        1.02
20120608 1861063031.30 1259808019.20        1.48
20120611 1586639500.10 2012882658.60        0.79
20120612 1551905060.80 1853187546.30        0.84
20120613 1677375381.80 1882835451.60        0.89
20120614 3440011373.90 2666524994.60        1.29
20120615 1683664502.00 2467023266.30        0.68
20120618 1937928997.40 3619027292.30        0.54
20120619 1500976067.80 1774056763.80        0.85
20120620  858739346.20 1327887798.20        0.65
20120621 2115297800.40 1676531714.40        1.26
20120625 1103581881.80 1394384807.30        0.79
20120626 1328032239.30 1015368225.90        1.31
20120627  802544736.80 1403282426.10        0.57
20120628 1744367653.50 1985112930.40        0.88
20120629 1496506098.50 1259297805.40        1.19

In [110]:
# 9
df['ret_open'] = df['open']/df['pre_close'] > 1.015
df['ret_close'] = df['close']/df['pre_close'] > 1.015

In [ ]:
df.groupby('date')[['ret_open', 'ret_close']].sum().reset_index()

In [145]:
# 10
flag_open = []

for i in range(3, df.shape[0]-1):

    flag_open.append(
        sum(map(int, [df['ret_open'][i-3], df['ret_open'][i-2], df['ret_open'][i-1]])))

In [150]:
filled_open = [None] * 4 + flag_open

In [155]:
df['flag_open'] = pd.Series(filled_open)

In [157]:
df.groupby('date')[['flag_open']].sum()

          flag_open
date
20120104     130.00
20120105     126.00
20120106     414.00
20120109     373.00
20120110     408.00
20120111     156.00
20120112     224.00
20120113     243.00
20120116     209.00
20120117     160.00
20120118     104.00
20120119     185.00
20120120     294.00
20120130     332.00
20120131     322.00
20120201     284.00
20120202     271.00
20120203     201.00
20120206     167.00
20120207     169.00
20120208     236.00
20120209     178.00
20120210     153.00
20120213     102.00
20120214     117.00
20120215     117.00
20120216     102.00
20120217      99.00
20120220     131.00
20120221     142.00
20120222     725.00
20120223     697.00
20120224     688.00
20120227     136.00
20120228     151.00
20120229     203.00
20120301     168.00
20120302     168.00
20120305      98.00
20120306     109.00
20120307     150.00
20120308     150.00
20120309     122.00
20120312      89.00
20120313     123.00
20120314     175.00
20120315     165.00
20120316     165.00
20120319     131.00
20120320     181.00
20120321     208.00
20120322     216.00
20120323     190.00
20120326     160.00
20120327     137.00
20120328     106.00
20120329     144.00
20120330     149.00
20120405     141.00
20120406     100.00
20120409     155.00
20120410     226.00
20120411     218.00
20120412     180.00
20120413     121.00
20120416     145.00
20120417     250.00
20120418     251.00
20120419     248.00
20120420     150.00
20120423     234.00
20120424     200.00
20120425     222.00
20120426     124.00
20120427     151.00
20120502     182.00
20120503     210.00
20120504     781.00
20120507     717.00
20120508     746.00
20120509     161.00
20120510     180.00
20120511     137.00
20120514     142.00
20120515     136.00
20120516     289.00
20120517     266.00
20120518     248.00
20120521     107.00
20120522     120.00
20120523     165.00
20120524     209.00
20120525     195.00
20120528     151.00
20120529      92.00
20120530      95.00
20120531     131.00
20120601     152.00
20120604     142.00
20120605     133.00
20120606      97.00
20120607     131.00
20120608     139.00
20120611     475.00
20120612     764.00
20120613     745.00
20120614     423.00
20120615     127.00
20120618     120.00
20120619     138.00
20120620     172.00
20120621     164.00
20120625     153.00
20120626      94.00
20120627      93.00
20120628      83.00
20120629      99.00

In [158]:
df.query('flag_open>0').head()

,symbol,date,pre_close,open,high,low,close,volume,amount,adj_factor,...,index_w300,index_w500,industry,Flag,exchange,Flag%,rate%,ret_open,ret_close,flag_open
275374,300295.SZ,20120315,34.00,55.00,59.80,55.00,59.40,6821773,390459756.50,1.00,...,0.00,0.00,SOFTWARE,Increase,SZ,Increase 5%,0.75,True,True,1.00
275445,300296.SZ,20120315,16.00,22.20,24.98,22.18,24.98,12063503,286407311.30,1.00,...,0.00,0.00,HDWRSEMI,Increase,SZ,Increase 5%,0.56,True,True,1.00
275298,300294.SZ,20120308,25.00,38.00,39.00,37.01,38.80,9590069,364320477.70,1.00,...,0.00,0.00,HEALTH,Increase,SZ,Increase 5%,0.55,True,True,1.00
276896,300332.SZ,20120628,8.18,10.45,11.30,10.12,10.93,59788245,640027000.90,1.00,...,0.00,0.00,MACH,Increase,SZ,Increase 5%,0.34,True,True,1.00
112229,000036.SZ,20120420,3.85,3.80,4.24,3.79,4.24,137649204,568342939.30,6.97,...,0.00,0.00,REALEST,Increase,SZ,Increase 5%,0.10,False,True,2.00